<%= form_for @game do |f| %>

  <fieldset>
    <%= bootstrap_clearfix_wrap(:game, :dimension, f.select(:dimension, 3..5), {:object => @game}) %>
    <%= f.bootstrap_collection_select :experimental_condition_id, ExperimentalCondition.all, :id, :name, :label => "Condition" %>
  </fieldset>
  <div class="actions">
    <%= f.submit "Start Game", :class => "btn primary"%>
  </div>
<% end %>
