<% javascript 'game' %>

<div class="page-header">
  <h1>Game <small><%= @game.experimental_condition_name %> </small></h1>
</div>



<div class="row">
  <script type="text/x-handlebars">
    {{view TTT.BoardView}}
  </script>

  <script type="text/x-handlebars">
    <div class="span4">
      <table class="zebra-striped">
      <thead>
        <th>Player</th>
        <th>Position</th>
      </thead>
      {{collection contentBinding="TTT.MovesController" itemViewClass="TTT.MoveListItem" tagName="tbody"  }}
    </table>
    {{#view TTT.UndoLastMoveView }}
    <a class="btn danger" >Undo Last Move</a>
    {{/view}}
  </div>

  </script>
</div>

<script type="text/x-handlebars" data-template-name="TTT.BoardView">
  <div class="span12 board_background">
    {{collection contentBinding="TTT.TilesController" itemViewClass="TTT.TileView"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="TTT.move_list_item">
  <td>{{content.player}}</td> 
  <td>{{content.position}}</td>
</script>

<script type="text/x-handlebars" data-template-name="TTT.TileView">
    {{content.position}}
</script>
