<% javascript 'game' %>

<div class="page-header">
  <h1>Game <small><%= @game.experimental_condition_name %> </small></h1>
</div>



<div class="row">
  <script type="text/x-handlebars">
    {{view TTT.BoardView}}
  </script>

  <script type="text/x-handlebars">
    <div class="span4">
      <table class="zebra-striped">
      <thead>
        <th>Player</th>
        <th>Position</th>
      </thead>
      {{collection contentBinding="TTT.MovesController" itemViewClass="TTT.MoveListItem" tagName="tbody"  }}
    </table>
    {{#view TTT.UndoLastMoveView }}
    <a href="#" class="btn danger" >Undo Last Move</a>
    {{/view}}
  </div>

  </script>
</div>

<script type="text/x-handlebars" data-template-name="TTT.BoardView">
  <div class="span12 board_background">
  <div class="row">
      <div class="span4 tile"> 1</div>
      <div class="span4 tile"> 2</div>
      <div class="span4 tile"> 3</div>
      <div class="span4 tile"> 4</div>
      <div class="span4 tile"> 5</div>
      <div class="span4 tile"> 6</div>
      <div class="span4 tile"> 7</div>
      <div class="span4 tile"> 8</div>
      <div class="span4 tile"> 9</div>
    </div>
  </div>
  {{#collection contenBinding="TTT.TilesController"}}
  {{/collection}}
</script>

<script type="text/x-handlebars" data-template-name="TTT.move_list_item">
  <td>{{content.player}}</td> 
  <td>{{content.position}}</td>
</script>
