<% javascript 'game' %>

  <div class="page-header">
    <h1>Game <small><%= @game.experimental_condition_name %> </small></h1>
  </div>



  <div class="row">
    <script type="text/x-handlebars">
      {{#view TTT.BoardView}}
        <div class="span10">
          <h2>{{content}}</h2>
        </div>
      {{/view}}
    </script>

    <script type="text/x-handlebars">
      <div class="span4">
        {{collection contentBinding="TTT.MovesController" itemViewClass="TTT.MoveListItem" tagName="table" class="move_history" }}
      </div>
              {{view SC.TextField }}

    </script>
  </div>


<script type="text/x-handlebars" data-template-name="TTT.move_list_item">
  <td>{{content.player}}</td> 
  <td>{{content.position}}</td>
  <td><a class="btn danger" data-method="delete" rel="nofollow">X</a></td>
</script>
