<% javascript 'game' %>

<div class="content">
  <div class="page-header">
    <h1>Game <small><%= @game.experimental_condition_name %> </small></h1>
  </div>
  <script type="text/x-handlebars" data-template-name="TTT.move_list_item">
    rara
    {{content.player}} {{content.position}}
</script>


  <div class="row">
    <script type="text/x-handlebars">
      {{#view TTT.BoardView}}
        <div class="span10">
          <h2>{{content}}</h2>
        </div>
      {{/view}}
    </script>

    <script type="text/x-handlebars">
      {{collection contentBinding="TTT.MovesController" itemViewClass="TTT.MoveListItem" tagname="ol"}}
    </script>
  </div>
</div>



